<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ include file="..\src\NbtGeneratorData.t4" #>
<#
    string nbtName = "ByteArray";
    string typeName = "byte[]";
    object testValue = tagTestData[tagTypeByteArray];
    object altTestValue = altTagTestData[tagTypeByteArray];
    object defaultValue = "new byte[0]";
    string valueString = "02, 04, 08, 10, 20, 40, 80";
    int listCount = 7;
    #>
<#@ output extension=".cs" #>
<#@ include file="TagTests.t4" #>
