<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ include file="..\src\NbtGeneratorData.t4" #>
<#
    string nbtName = "LongArray";
    string typeName = "long[]";
    object testValue = tagTestData[tagTypeLongArray];
    object altTestValue = altTagTestData[tagTypeLongArray];
    object defaultValue = "new long[0]";
    string valueString = "-4611686018427387904, 2994, 4611686018427387903, 4294394";
    int listCount = 4;
    #>
<#@ output extension=".cs" #>
<#@ include file="TagTests.t4" #>
