<#@ template debug="false" hostspecific="false" language="C#" #>
<#
  string nbtName      = "Byte";
  string typeName     = "byte";
  object testValue    = byte.MaxValue >> 1;
  object altTestValue = byte.MaxValue >> 2;
  object defaultValue = 0;
  string valueString  = "127";
  int    listCount    = 0;
#>
<#@ output extension=".cs" #>
<#@ include file="TagTests.t4" #>
