<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ include file="..\Cyotek.Data.Nbt\NbtGeneratorData.t4" #>
<#
    string nbtName = "Int";
    string typeName = "int";
    object testValue = tagTestData[tagTypeInt];
    object altTestValue = altTagTestData[tagTypeInt];
    object defaultValue = 0;
    string valueString = "1073741823";
    int listCount = 0;
    #>
<#@ output extension=".cs" #>
<#@ include file="TagTests.t4" #>
