<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ include file="..\Cyotek.Data.Nbt\NbtGeneratorData.t4" #>
<#
    string nbtName = "IntArray";
    string typeName = "int[]";
    object testValue = tagTestData[tagTypeIntArray];
    object altTestValue = altTagTestData[tagTypeIntArray];
    object defaultValue = "new int[0]";
    string valueString = "2190, 2994, 3248, 4294394";
    int listCount = 4;
    #>
<#@ output extension=".cs" #>
<#@ include file="TagTests.t4" #>
